* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 600px;
  border: 1px solid #000;
  /* height: 200px; */
  margin: auto;
  display: flex;
  flex-direction: row;
  /* justify-content: start;
  align-items: start; */
  /* gap: 10px; */
  /* flex-wrap: wrap; */
  /* align-items: start; */
  /* align-content: space-between; */
  /* align-items: end; */
}
.item {
  color: white;
  padding: 10px;
  margin: 5px;
  flex-grow: 1;
}
.box1 {
  background-color: red;
  /* order: 1; */
}
.box2 {
  background-color: green;
  /* align-self: auto; */
}
.box3 {
  background-color: black;
  /* order: -1; */
  flex-grow: 3;
}
.box4 {
  background-color: purple;
  /* order: -2; */
}
.box5 {
  background-color: royalblue;
}
.box6 {
  background-color: yellowgreen;
}
