@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.wrapper {
  width: 80%;
  min-height: 100px;
  /* border: 1px solid #000; */
  margin: auto;
}
.header-logo-menu {
  width: 100%;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.header-logo-menu .logo {
  width: 40%;
  float: left;
}
.logo h1 {
  color: white;
  /* padding: 10px; */
  padding-left: 10px;
  padding-top: 5px;
  font-weight: bolder;
  /* font-style: italic; */
}
#e {
  color: orange;
  font-size: 40px;
}
#l {
  color: green;
  font-size: 40px;
}
.header-logo-menu .menu {
  width: 59%;
  float: right;
  text-align: right;
}
.menu ul {
  list-style: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  padding-top: 20px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  text-transform: uppercase;
}
.slider {
  width: 100%;
  height: 630px;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider img {
  width: 100%;
  height: 630px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
.content-box {
  width: 100%;
  min-height: 300px;
  border: 3px solid #000;
  margin-top: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 5px;
}
.content-box .bar1 {
  width: 20%;
  min-height: 330px;
  background-color: lightgray;
  float: left;
  margin-right: 10px;
}
.content-box .cont {
  width: 58%;
  background-color: lightgray;
  min-height: 330px;
  float: left;
  margin-right: 10px;
}
.content-box .bar2 {
  width: 20%;
  background-color: lightgray;
  min-height: 330px;
  float: left;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 10px;
}
.footer p {
  color: white;
  text-align: center;
  line-height: 60px;
}
