* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  min-height: 100px;
  /* border: 2px solid #000; */
  margin: auto;
}
.header-logo-menu {
  width: 100%;
  height: 60px;
  background-color: black;
}
.header-logo-menu .logo {
  width: 40%;
  height: 60px;
  float: left;
}
.logo h1 {
  color: white;
  padding: 5px;
  font-size: 40px;
}

.header-logo-menu .menu {
  width: 59%;
  height: 60px;
  float: right;
  text-align: right;
}
.menu ul {
  list-style: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  padding-top: 20px;
}
.menu ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 16px;
  text-transform: uppercase;
}
.menu ul li a:hover {
  /* background-color: #333; */
  box-shadow:
    0px 0px 10px rgba(255, 255, 255, 0.3),
    0px 0px 20px rgba(255, 255, 255, 0.3),
    0px 0px 20px rgba(57, 22, 22, 0.3);
  color: white;
}
.slider {
  width: 100%;
  height: 500px;
  background-color: lightyellow;
  margin-top: 5px;
}
.slider img {
  width: 100%;
  height: 500px;
}
.row {
  width: 100%;
  min-height: 240px;
  /* border: 2px solid red; */
  margin-top: 5px;
  padding: 10px;
}
.box {
  width: 32%;
  min-height: 200px;
  /* border: 1px solid #000; */
  float: left;
  margin-left: 10px;
  box-shadow: 10px 5px 10px gray;
  background-color: lightcyan;
}
.box:first-child {
  margin-left: 5px;
}
.box:last-child {
  margin-left: 15px;
}
.box:nth-child(2) {
  margin-left: 25px;
}

.clearfix {
  content: "";
  clear: both;
  display: block;
}
.footer {
  width: 100%;
  height: 60px;
  background-color: black;
  margin-top: 5px;
}
.footer p {
  color: white;
  text-align: center;
  line-height: 60px;
}
.photo {
  text-align: center;
  padding: 15px;
}
.photo i {
  font-size: 30px;
  color: red;
}
.title h3 {
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 20px;
}
.desc p {
  text-align: center;
  padding: 5px;
  font-size: 18px;
}
