@import url("https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SN Pro", sans-serif;
}
:root {
  --marginTop: 5px;
}
.container {
  width: 80%;
  min-height: 100px;
  /* border: 1px solid #000; */
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 60px;
  background-color: black;
}
.header h1 {
  color: #fff;
  padding: 5px 10px;
  font-size: 42px;
}
.menu {
  width: 100%;
  height: 60px;
  background-color: lightgoldenrodyellow;
  margin-top: var(--marginTop);
}
.menu ul {
  list-style: none;
  width: 100%;
}
.menu ul li {
  display: inline-block;
  padding-top: 20px;
}
.menu ul li a {
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}
.menu ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.slider {
  width: 100%;
  height: 400px;
  background-color: gray;
  margin-top: var(--marginTop);
}
.slider img {
  width: 100%;
  height: auto;
}
