* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
}
.container {
  width: 80%;
  min-height: 100px;
  border: 1px solid lightgray;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.header-menu {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: row;
  background-color: #eceff1;
}
.header-menu .logo {
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.logo ul {
  display: flex;
  list-style: none;
}
.logo ul li img {
  width: 80px;
  height: 70px;
}
.logo ul li h1 {
  padding-top: 10px;
  color: #083d5d;
  font-size: 40px;
}
.header-menu .menu {
  flex-basis: 59%;
  display: flex;
  align-items: center;
  justify-content: end;
}
.menu ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}
.menu ul li a {
  color: black;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}
.menu ul li a:hover {
  background-color: #083d5d;
  color: white;
  border-radius: 10px;
}
.slider {
  /* display: flex; */
  width: 100%;
  min-height: 400px;
  position: relative;
}
.slider img {
  width: 100%;
  height: 600px;
}
.text-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 200px;
  /*border: 1px solid white;
  */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.text-info p {
  font-size: 34px;
  text-align: center;
  padding: 20px;
}
/* news section */
.news {
  width: 100%;
  height: 50px;
}
.scroll-news {
  display: flex;
}
.scroll-news ul {
  list-style: none;
  display: flex;

  align-items: center;
}
.scroll-news ul li {
  display: flex;
}
.scroll-news ul li img {
  width: 40px;
  height: 40px;
}

/* products code 3 boxes */
.prod {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}
.prod .box {
  display: flex;
  flex-direction: column;
  flex-basis: 31%;
  box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
}
.prod-img {
  display: flex;
  height: 200px;
}
.prod-img img {
  width: 100%;
  height: 200px;
  object-fit: fill;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.prod .prod-text p {
  text-align: center;
  font-size: 1.2em;
}
.box:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.prod-img img:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

/* footer code */
.footer {
  width: 100%;
  min-height: 300px;
  background-color: #3e4551;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}
.other-links {
  width: 100%;
  min-height: 300px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 30px 20px;
}
.other-links .col {
  display: flex;
  flex-basis: 20%;
  flex-direction: column;
  padding: 10px 20px;
}
.col:first-child {
  flex-basis: 35%;
}
.col h4 {
  color: white;
  padding: 10px;
  font-size: 1.2em;
  font-weight: bold;
  position: relative;
}
.col p {
  color: white;
  padding: 10px;
  text-align: justify;
}
.col ul {
  list-style: none;
}
.col ul li {
  padding: 10px;
  position: relative;
}
.col ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}

/* code for to draw underline */
.col h4::after {
  position: absolute;
  content: "";
  width: 50px;
  height: 3px;
  top: 35px;
  left: 10px;
  background-color: crimson;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.col h4:hover::after {
  width: 100px;
}

.col ul li a:hover {
  padding-left: 10px;
}

.col ul li a::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 3px;
  background-color: green;
  top: 28px;
  left: 10px;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.col ul li a:hover::after {
  width: 40px;
  left: 20px;
}

/* register */
.register {
  display: flex;
  width: 100%;
  min-height: 100px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.register p {
  color: white;
  font-size: 1.1em;
}
.register a {
  padding: 10px 20px;
  border: 1px solid white;
  color: white;
  text-decoration: none;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  font-weight: 300;
  transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
}
.register a:hover {
  background-color: white;
  color: #3e4551;
}
